.forecast-section {
      color: white;
      padding: 40px 0;
      width: 100%;
      
}

.forecast {
      margin: 0 12px;
      border-radius: 10px;
      /* box-shadow: 0 15px 35px rgb(0 0 0 / 30%), 0 12px 10px rgb(0 0 0 / 22%); */
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
      padding: 10px 12px;
      background-color: rgba(255, 255, 255, .15);
      backdrop-filter: blur(15px);
}

.min {
      font-weight: 300;
      font-size: 18px;
}

.max {
      font-size: 14px;
}

.day {
      font-weight: 700;
      font-size: 18px;
}

.forecast-temp {
      justify-content: space-between;
      align-items: center;
      margin: auto;
      max-width: 80px;
}

.text-md{
      font-size: 30px;
      font-weight: 500;
}

.flex{
      display: flex;
}

.line{
      height: 16px;
}

.py-5{
      padding: 8px 0;
}