.card-header {
      padding: 50px;
      display: flex;
      justify-content: space-between;
      background-color: #003366;
      border-radius: 15px 15px 0 0;
      backdrop-filter: blur(10px);
}

.flex{
      display: flex;
}

.temp {
      font-size: 80px;
      color: #fff;
}

.current-weather {
      font-size: 16px;
      color: #fff;
      letter-spacing: 3px;
}


.extra-info {
      max-width: 230px;
      margin: auto;
      align-items: center;
      justify-content: center;
      color: white;
}

.line {
      height: 40px;
      background-color: white;
      width: 1px;
}

.city {
      position: relative;
      color: white;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 5px;
      margin-right: 20px;
}

.city::before {
      position: absolute;
      content: ' ';
      bottom: -10px;
      left: 0;
      width: 50px;
      height: 2px;
      background-color: white;
}

.gap-5px{
      gap: 2rem;
}

.upperCase{
      text-transform: uppercase;
}

.capitalise{
      text-transform: capitalize;
}