.Header{
      background: rgb(0, 51, 102);
      min-height: 65px;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
}

.menu{
      font-size: 35px;
      margin-right: 20px;
      vertical-align: middle;
      color: #fff;
}


.logo{
      height: 65px;
      width: auto;      
      vertical-align: middle;
      flex: 1 1;
}
.search-input{
      font-size: 16px;
      margin-right: 40px;
      color: #fff;
      background: transparent;
      width: 5px;
      height: 5px;
      padding: 10px;
      border: 3px solid #fff;
      outline: none;
      box-shadow: 0 1px #0091c2;
      transition: width .5s;
      border-radius: 35px;
      position: relative;
}

.search-input:focus{
      width: 250px;
}


.logo-container{
      text-align: left;
      flex: 1 1;
}

.time{
      flex: 1 1;
      color: #fff;
}

.input-container{
      text-align: right;
      flex: 1 1;
}
.input-container::before{
      content: "";
      background: white;
      width: 4px;
      height: 15px;
      position: absolute;
      top: 40px;
      right: 54px;
      transform: rotate(135deg);
}
