* {
      box-sizing: border-box;
      margin: 0px;
      padding: 0px
}

.App {
      text-align: center;
      background: linear-gradient(0deg, #d146fe 20%, #8650f6 80%);
      min-width: 800px;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
}
